@import "flexbox"
@import "grid"

*
  margin: 0
  padding: 0
  // box-sizing: border-box
  font-family: monospace
  color: #5b89b7

body
  height: 100%

#nav
  grid-column: 1 / 2
  grid-row: 1 / 2
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  width: 100vw
  background-color: #000

  img
    height: 36px
    // height: 28px
    width: auto
    margin-left: 20px

#banner
  grid-column: 1 / 2
  grid-row: 2 / 3
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  align-content: center
  background-image: url(../assets/images/waters-edge.jpg)
  background-size: cover
  width: 100vw

  .banner-content
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    height: 100%
    width: 100%
    // background-color: rgba(0,0,0,0.7)
    background: linear-gradient(to bottom right, rgba(0,0,176,0.3), rgba(0,0,5,0.7), rgba(0,76,0,0.3))
    // background: linear-gradient(to bottom right, rgba(0,0,176,0.3), rgba(0,76,0,0.3))

    img
      height: 200px
      width: auto
      margin-bottom: 50px

    p
      font-size: 4.5em
      margin-bottom: 50px
      // text-align: center
      // width: 100%

  .play-button
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    height: 50px
    width: 200px
    background: #141e28
    border: 1px solid #283d51
    transition: .5s ease-in-out
    color: slategray
    font-size: 1.15em
    font-family: monospace
    cursor: pointer
    border-radius: 3px
    // text-align: center

  .play-button:hover
    color: lightgray
    background-color: #1e2d3d
    /* background-color: #283d51  */

#footer
  grid-column: 1 / 2
  grid-row: 3 / 4
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  // height: 150px
  // height: 75px
  width: 100vw
  background-color: #000
  font-size: 2em

@media screen and (min-width: 481px)

@media screen and (min-width: 769px)
  #footer
    font-size: 1em



// .flex-center-center
//   display: flex
//   flex-flow: row nowrap
//   justify-content: center
//   align-items: center


// body
//   display: flex
//   flex-flow: column nowrap
//   justify-content: center
//   align-items: center
//   background: url(../assets/images/waters-edge.jpg) no-repeat center center fixed
//   background-size: cover
//   height: 100%
//   overflow: hidden
//   background-color: #fff
//   margin: 0
//   padding: 0




// .wrapper
//   display: flex
//   flex-flow: column nowrap
//   justify-content: flex-start
//   align-items: center
//   margin: 0 150px
//   height: 100vh
//   width: auto
//   background-color: rgba(0,0,0,0.5)
//
//
// #title
//   margin: 0
//   /* padding: 10px  */
//   /* padding: 20px 0 0 0  */
//   background-color: rgba(0,0,0,1)
//   width: 100vw
//   font-family: monospace
//   color: #5b89b7
//   /* text-shadow: -1px 7px 10px rgba(0,0,0,0.6)  */
//   text-align: center
//
//
// #title p
//   margin: 0
//   padding: 30px
//   font-size: 4.5em
//   text-align: center
//   /* color: #6699CC  */
//   /* padding: 80px 0 40px 0  */
//
//
// .sub
//   font-size: 2em
//
//
// #intro
//   height: 100%
//   width: 100%
//
//

//
//
// #logo
//   margin-right: 40px
//   height: 80px
//   width: auto
