@font-face {
  font-family: "Aubrey";
  src: url(../assets/fonts/Aubrey/Aubrey-Regular.ttf); }
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf); }
#grid-wrapper {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 50px auto 50px;
  height: 100vh; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #5b89b7; }

button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #2d445b;
  border: 1px solid #24303b;
  transition: 0.5s ease-in-out;
  color: lightgray;
  font-family: monospace;
  cursor: pointer;
  border-radius: 3px; }

button:hover {
  color: lightgray;
  background-color: #1e2d3d;
  border: 1px solid #7ba0c5; }

.play-button {
  height: 50px;
  width: 200px;
  font-size: 1.155em;
  background-color: #121b24;
  margin: 0; }

#nav {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: #000;
  padding: 5px 10px; }
  #nav img {
    height: 90%;
    width: auto; }
  #nav .reset-button {
    height: 90%;
    width: 75px;
    font-size: 1em; }

#banner {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(../assets/images/waters-edge.jpg);
  background-size: cover;
  width: 100vw;
  height: 100%; }
  #banner .banner-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 176, 0.4), rgba(0, 136, 0, 0.2)); }
    #banner .banner-content img {
      height: 150px;
      width: auto;
      margin-bottom: 20px; }
    #banner .banner-content p {
      font-size: 2.5em;
      font-family: "Aubrey", cursive;
      margin-bottom: 70px; }

#game-play {
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  width: 300px;
  height: 550px;
  box-shadow: #fff;
  box-shadow: -6px 15px 20px rgba(0, 0, 0, 0.4);
  margin: 20px;
  border-radius: 10px;
  overflow: hidden; }
  #game-play #story-board-image {
    height: 250px;
    width: 100%;
    background-color: lightgreen;
    background-image: url(../assets/images/bird.jpg);
    background-size: cover; }
  #game-play #play-content {
    height: 270px;
    width: 100%;
    background-color: #fff;
    padding: 20px; }
    #game-play #play-content #story {
      font-size: 0.85em;
      font-family: "Open Sans", sans-serif; }
  #game-play #progress-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    padding: 0 30px;
    background-color: #88a9ca; }
    #game-play #progress-buttons p {
      margin: 0;
      font-size: 1.25em;
      color: #fff; }

#footer {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: #000;
  font-size: 0.65em;
  font-family: "Open Sans", sans-serif; }

/*# sourceMappingURL=main.css.map */
